.implementContainer {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dropdowns {
    width: 65%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    gap: 20px;
}

.dropdown1,
.dropdown2 {
    width: 150px;
    height: 30px;
    font-size: large;
}

.codeSection {
    position: relative;
    width: 70vw;
    height: 60vh;
    background-color: rgb(71, 137, 71);
    border-radius: 10px;
    border: 10px solid #eee;
    font-size: large;
    color: #eee;
    overflow: scroll;
    overflow-x: hidden;
}

.copyBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
}

.copyBtn:active {
    background-color: #999;
}

.code {
    padding: 10px;
}