.modal {
    position: fixed;
    background: rgb(71, 137, 71);
    border: 10px solid #eee;
    height: 35vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(71, 137, 71);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 20px
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(51, 51, 51, 0.7);
    cursor: pointer;
}

.closeButton {
    position: absolute;
    display: inline-block;
    z-index: 1000;
    /*background: white;*/
    top: -5vh;
    right: -2.5vw;
    color: #eee;
    cursor: pointer;
}

.left,
.right {
    font-size: large;
    overflow: auto;
    min-width: 40%;
}

.right {
    border-left: 2px solid #eee;
    padding-left: 10px;
}